/* Main Styling */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
span{
    color: blue;
}
.heading{
    margin-top: 20px; 
    text-align: center;
    font-size: 1.4rem;
    font-size: clamp(1.4rem, 0.72rem + 1.4vw, 2.4rem);
    animation: opacity 2s;
}
.galeria {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 28.5%;
    gap: 80px;
    width: 90%;
    max-width: 800px;
}
.galeria img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Making Website Responsive */
@media (width = 1366px) {
    .galeria {
        position: absolute;
        left: 20%;
    }
}
@media (width <= 1280px) {
    .galeria {
        position: absolute;
        left: 18%;
    }
}
@media (width <= 1024px) {
    .galeria {
        position: absolute;
        left: 11%;
    }
}
@media (width <= 853px) {
    .galeria {
        position: absolute;
        left: 6%;
    }
}
@media (width <= 768px) {
    .galeria {
        grid-template-columns: 1fr;
        position: absolute;
        left: 5%;
    }
}
/* Assigning Animations */
.pj1{
    animation: go-right 2s;
}
.pj2{
    animation: go-left 2s;
}
.pj3, .pj4, .pj5, .pj6, .pj7, .pj8, .pj9{
    animation: go-up 2s;
} 
/* Hover */
.pj1 img:hover, .pj4 img:hover{
    width: 105%;
    height: auto;
    transform: translateX(-10px) translateY(-10px);
    transition: 1s
}
.pj2 img:hover, .pj3 img:hover, .pj5 img:hover, .pj6 img:hover, .pj7 img:hover, .pj8 img:hover, .pj9 img:hover{
    width: 105%;
    height: auto;
    transform: translateX(-10px) translateY(-10px);
    transition: 1s
}
/* Animations */
@keyframes go-right{
    from{
        transform: translateX(-800px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes go-left{
    from{
        transform: translateX(700px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes go-up{
    from{
        transform: translateY(800px);
        opacity: 0;
    }
}
@keyframes opacity{
    from{
        transform: translateY(-800px);
        opacity: 0;
    }
}
